:root {
  --clr-1: rgb(16, 16, 16);
  --clr-2: rgb(254, 243, 227);
  font-size: 62.5%;
  background: var(--clr-1);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
  color: var(--clr-2);
  font-family: 'Gill Sans';
  font-weight: 100;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
a {
  color: var(--clr-2);
}

.home-flexWrapper {
  padding-bottom: 1.65rem;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-wrapper {
  margin: auto;
  margin-top: -2rem;
  width: min(90vw, 45rem);
}
.logo-wrapper > img {
  width: 100%;
}
footer {
  padding: 0 0.5rem;
  width: 100%;
  font-size: 1.1rem;
  text-align: center;
}
