:root {
  --clr-1: rgb(16, 16, 16);
  --clr-2: rgb(254, 243, 227);
  font-size: 62.5%;
  background: var(--clr-1);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
  color: var(--clr-2);
}
.content-wrapper {
  height: calc(100svh - 3.5rem);
  padding-top: 36vh;
}
.logo-wrapper {
  margin: auto;
  width: min(90vw, 45rem);
}
.logo-wrapper > img {
  width: 100%;
}
footer {
  font-size: 1.1rem;
  text-align: center;
  font-family: 'Gill Sans';
  font-weight: 100;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
footer > a {
  color: var(--clr-2);
}
